body{
	background: blue;
}
h1{
	color: yellow;
	
	text-align: center;
}
#logeo, #guardar{
	background:orange;
	color: white;
	border: 1px solid black; 
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
#logeo:hover, #guardar:hover{
	background: white;
	color: black;
} 
#container{
	width: auto;
	text-align: center;
}
#foto{
	width: 50%;
	height: 300px;
	margin: 0 auto;
	position: relative;
	
	background-size:contain;

}